<Configuration>
    <Properties>
        <Property name="STD_PAT">%d{yyyy-MM-dd HH:mm:ss} [%thread] %C{1.}\n-> %-5level | %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${STD_PAT}">
                <MarkerPatternSelector defaultPattern="${STD_PAT}">
                    <PatternMatch key="PLAIN" pattern="%-5level| %msg%n"/>
                </MarkerPatternSelector>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <logger name="org.springframework" level="WARNING" additivity="true">
            <AppenderRef ref="STDOUT"/>
        </logger>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>